In [ ]:
# a single line comment in puthon is just a hashtag before it

In [ ]:
"""
this 
is 
your
multi line 
commenting 
anything in between those 3 quotations is a comment, not a code cell
"""

import pandas as pd

#to make this the markdown, just select the markdown

In [ ]:
"""
to run your code in notebook
Ctrl/Command + enter, it runs the code and keeps the cursor where it was
shift + enter, it runs to the code and goes to the next code cell

"""

# How to Print

In [12]:
z = 8

In [10]:
y = 7

In [8]:
planet = "Earth" #planet is a variable that is holding a string value
diameter = 12742  #diameter is a variable that is holding an integer value

In [14]:
diameter

12742

diameter

In [16]:
type(diameter) # int is integer

int

In [18]:
type(planet) # str is a string or text

str

In [20]:
print(diameter)

12742

In [22]:
planet

'Earth'

In [26]:
#first was of printing 
print("the diameter of {variable1} is {variable2}". format(variable1 = planet, variable2 = diameter))

the diameter of Earth is 12742

In [28]:
# second way of printing

print("the diameter of " + planet + " is " + str(diameter)) #allows you to print numbers as a string

#since I am trying to concanetate string with an integer, it wont work

#

the diameter of Earth is 12742

In [32]:
#3rd way of printing 
# f-string

print(f"the diameter of {planet} is {diameter}")

the diameter of Earth is 12742

# Data Types

In [ ]:
"""
Numerical: int, float
boolean: bool             True False
set: set                  Set()  {}   {set cannot have duplicates}   {sets only contains the values, not the keys
string/text: str          str() '' ""
tuple: tuple              tuple()   ()
list: list                list ()  []
dictionary: dict          dict()  {"Key": "value"}

some notes: 
sets cannot have duplications
tuple cannot be mutated
list can contain mix data types and can be mutated
dictionary is also called key-vaue pair, or in javascript, it is called object
json is another key-value pair example.
###

### Numerical

In [42]:
a = 5

In [44]:
type(a)

int

In [46]:
b = 5.8

In [48]:
type(b)

float

In [50]:
int(b) #convert float b to an integer b, and it floors the value

5

In [52]:
float(a) #convert integer a to a float b, and it adds 0 as a decimal

5.0

boolean

In [56]:
c = False

In [58]:
d = True

In [60]:
type(c)

bool

### Sets

In [65]:
my_set = {1,2,3,4,4,5,1,2, "a", "b", "c", "a", 7, a, b, c, d}

In [67]:
type(my_set)

set

my_set

In [70]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, False, 'a', 'b', 'c'}

In [ ]:
# Question: what was the value of d
# value of d is True
# True = 1
# False = 0

In [72]:
id(hash(1))

4381482768

In [74]:
id(hash(d))

4381482768

In [76]:
id(hash(c))

4381482736

In [78]:
id(hash(0))

4381482736

In [80]:
my_set.add("Patrick")

In [82]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, False, 'Patrick', 'a', 'b', 'c'}

my_set.pop()

In [85]:
my_set.pop()

False

In [87]:
my_set.remove("Patrick")

In [89]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, 'a', 'b', 'c'}

In [91]:
my_set2 = [1,2, "k", "l", "o"]

In [99]:
new_set = my_set.intersection(my_set2)

In [101]:
new_set

{1, 2}

In [109]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, 'a', 'b', 'c'}

### Tuple

In [114]:
my_tuple = (0,1,2,3,4,4,5,1,2, "a", "b", "c", "a", 7, a, b, c, d)

In [116]:
my_tuple

(0, 1, 2, 3, 4, 4, 5, 1, 2, 'a', 'b', 'c', 'a', 7, 5, 5.8, False, True)

In [120]:
"""
When you create a SET, it returns the values in ascending and alpha order
When you create a TUPLE, it returns the values as is and doesn't change the order
"""

'\nWhen you create a set, it returns the values in ascending and alpha order\n'

In [122]:
my_tuple[2]

2

In [124]:
my_tuple.count(1)
#how many times the value 1 appears in the tuple

3

In [126]:
my_tuple.index("a")
# index Location of "a" appearing first time in the tuple

9

In [130]:
my_tuple2 = my_tuple + ("Patrick" , "Liza", 2022)

In [134]:
print(my_tuple2)

(0, 1, 2, 3, 4, 4, 5, 1, 2, 'a', 'b', 'c', 'a', 7, 5, 5.8, False, True, 'Patrick', 'Liza', 2022)

### String

In [137]:
my_str = "  python IS nice: % ^ @ 1 2 3  i like it "

In [139]:
type(my_str)

str

In [141]:
print(my_str)

  python IS nice: % ^ @ 1 2 3  i like it

In [143]:
my_str[0]

' '

In [147]:
my_str[2]

'p'

In [149]:
my_str.capitalize()

'  python is nice: % ^ @ 1 2 3  i like it '

In [151]:
my_str.replace("e", "k") #e replaced with k

'  python IS nick: % ^ @ 1 2 3  i likk it '

In [153]:
my_str.replace(" ", "") # space replaced with no space

'pythonISnice:%^@123ilikeit'

In [155]:
my_str.upper() # capitalizes all the letters

# my_str = my_str_upper()
# my_str2 = my_str_upper()

# There are some fucntions that are inplace = True by default
# What i mean by this is that the change you made is modifying the original
# Inplace = True is like you assign the result back to itself

'  PYTHON IS NICE: % ^ @ 1 2 3  I LIKE IT '

In [157]:
my_str.lower() #lowers all the letters

'  python is nice: % ^ @ 1 2 3  i like it '

In [165]:
my_str.split()[0] #splits all the values in the list/tuple

# once i split my_str, it becomes a list

'python'

In [167]:
my_str.split(":")[0]

'  python IS nice'

In [171]:
my_str.find("n")
# character n's index location is 7

7

In [173]:
my_str.strip()

'python IS nice: % ^ @ 1 2 3  i like it'

In [176]:
my_str.rstrip()

'  python IS nice: % ^ @ 1 2 3  i like it'

In [178]:
my_str.lstrip()

'python IS nice: % ^ @ 1 2 3  i like it '

In [180]:
my_str.swapcase()

'  PYTHON is NICE: % ^ @ 1 2 3  I LIKE IT '

In [182]:
my_str.title()

'  Python Is Nice: % ^ @ 1 2 3  I Like It '

### list

In [185]:
my_list = [1,2,3,4,5,"a", "b", "c", "d", "e"]

In [187]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [189]:
type(my_list)

list

In [191]:
my_list.pop()
# pop function iin list is an inplace = True operation 

# Even though i didn't assign it back to itself, it gave me the modifyed list
# What i mean by assigning back to itself is this:  my_list = my_list.pop()

'e'

In [193]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [195]:
my_list.index("a")

5

In [197]:
my_list.append("Patrick")

In [199]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'Patrick']

In [202]:
my_list.extend(["jack", "Charli", "Julia"])

In [204]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'Patrick', 'jack', 'Charli', 'Julia']

### Dictionary

In [213]:
my_dict = {
    "Jan":  "Julia",
    "Feb":  "Charli",
    "Mar":  "Drew",
    "Apr":  "Jon"
}


"""
{
"firstname": "Charli", 
"lastname": "Bennett", 
"age": 9,
"Schools": ["Morningside, Morningside, Wyatt, TCC, PV, UTA],
"Grades": {"abc primary school": {"first grade": {"English Class": 90, "Math Class": 100}}}

}

"""

In [215]:
type(my_dict)

dict

In [227]:
{
"firstname": "Charli", 
"lastname": "Bennett", 
"age": 9,
"Schools": ["MorningsideES", "MorningsideMS", "Wyatt", "TCC", "PV", "UTA"],
"Grades": [ {"abc primary school": 
           {"first grade": 
            {"English Class": 90, 
             "Math Class": 100
            }
        }
    },
        {"def secondary school":
         {"fifth grade":
          {"english class": 70
          }
         }
        }
          ]
}

{'firstname': 'Charli',
 'lastname': 'Bennett',
 'age': 9,
 'Schools': ['MorningsideES', 'MorningsideMS', 'Wyatt', 'TCC', 'PV', 'UTA'],
 'Grades': [{'abc primary school': {'first grade': {'English Class': 90,
     'Math Class': 100}}},
  {'def secondary school': {'fifth grade': {'english class': 70}}}]}

In [229]:
type(my_dict)

dict

In [231]:
my_dict.keys()

dict_keys(['Jan', 'Feb', 'Mar', 'Apr'])

In [233]:
my_dict.values()

dict_values(['Julia', 'Charli', 'Drew', 'Jon'])

In [235]:
my_dict.items()

dict_items([('Jan', 'Julia'), ('Feb', 'Charli'), ('Mar', 'Drew'), ('Apr', 'Jon')])

In [239]:
my_dict["Apr"]

'Jon'

### For Loop

In [ ]:
"""
for x in iterable: 
    someocde (condition) 

x is your iteration point; it is a placeholder
iterable is the thing that you want to iterate through 
somecode is whatever you want to do

for key, value in iterable:
    somecode (Condition)

key and value are iteration points from a dictionary



"""

In [242]:
range(5)

range(0, 5)

In [244]:
list(range(5))

[0, 1, 2, 3, 4]

In [248]:
for x in range(5):
    print(x)

0
1
2
3
4

In [250]:
city = "Dallas" 

for x in city: 
    print(x)

D
a
l
l
a
s

### if Else Statement

In [253]:
""" 

If some condition: 
    some code

elif some other conditon:
        some more code
    
else:
    some more more code

"""

' \n\nIf some condition: \n    some code\n\n\n'

In [255]:
x = 1 
y = 10

if x == 1: 
    print("yeah, x is 1")

yeah, x is 1

In [257]:
if x == 7:
    print(" y is 10")
elif y == 11:
    print("y is 10")
else: 
    print("all failed, I am here now")

all failed, I am here now

In [ ]:
if x > 7:
    print(" y is 10")
elif y < 11:
    print("y is 10")
else: 
    print("all failed, I am here now")

In [ ]:
if x >= 7:
    print(" y is 10")
elif y <= 11:
    print("y is 10")
else: 
    print("all failed, I am here now")